.already-done {
  cursor: pointer;
}

.plan-item {
  cursor: pointer;
}

.plan-item:hover {
  background: gold;
}

.clear, .time {
  text-align: center;
}

.functional-box {
  text-align: center;
}

.item-list {
  text-align: center;
}

.outer-box {
  width: 100%;
}

.item-label, .item-time {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.item-del {
  display: inline-block;
  width: 10%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: aquamarine;
}

.item-line {
  margin-bottom: 10px;
}

.title, .start, .end {
  height: 50px;
  font-size: 28px;
}

.start {
  background-color: aquamarine;
}

.end {
  background-color: chocolate;
}
